<div class="bg-white py-6">
  <div class="container mx-auto flex justify-between">
    <a class="text-blue-dark flex items-center no-underline" [routerLink]="['/']">
      <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"/></svg>
      <div class="ml-2 font-semibold">Postwitter</div>
    </a>

    <div>
      <a class="uppercase tracking-wide text-sm no-underline text-grey font-semibold mr-6 border-transparent border-b-2 pb-8" [routerLink]="['/home']" routerLinkActive="text-blue-dark border-blue">Home</a>
      <a class="uppercase tracking-wide text-sm no-underline text-grey font-semibold border-transparent  border-b-2 pb-8" [routerLink]="['/users']" routerLinkActive="text-blue-dark border-blue">Users</a>
    </div>

    <div class="flex items-center">
      <a (click)="logoutUser()">
        <svg class="fill-current text-grey" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M13 3h-2v10h2V3zm4.83 2.17l-1.42 1.42C17.99 7.86 19 9.81 19 12c0 3.87-3.13 7-7 7s-7-3.13-7-7c0-2.19 1.01-4.14 2.58-5.42L6.17 5.17C4.23 6.82 3 9.26 3 12c0 4.97 4.03 9 9 9s9-4.03 9-9c0-2.74-1.23-5.18-3.17-6.83z"/></svg>
      </a>
    </div>
  </div>
</div>